 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./navbar";
@import "./homepage";
@import "./streams";
@import "./aboutUs";
@import "./features";
@import "./testimonial";
@import "./footer";